/**
* 

Author     :  His7am
@template  :  Fondo
Version    :  1.0


// Some Styles In Main.css File


TABLE OF CONTENTS

	* Global
		+ Helper Classes
		+ Icons
		+ Buttons
		+ Navbar
		+ Header
		+ Hero
		+ Features
		+ Video
		+ Portfolio
		+ Numbers
		+ Team
		+ Skills
		+ Clients
		+ Price
		+ Blog
		+ Subscribe
		+ Contact
		+ Footer
		+ Carsouel Setting
		+ Responsive
		
*/
@import url(main.css);
/* -------------------------------------------------------
                     Global 
-------------------------------------------------------- */
body {
  font-family: 'Montserrat', sans-serif;
  color: #1c1c1c;
}

/* -------------------------------------------------------
                     Helper Classes 
-------------------------------------------------------- */
.section-head {
  text-align: center;
  margin-bottom: 80px;
  position: relative;
}
.section-head:after {
  content: attr(data-title);
  font-size: 11px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #f36;
  position: absolute;
  top: -15px;
  left: 0;
  right: 0;
  text-align: center;
  margin: auto;
  z-index: 1;
}
.section-head h4 {
  font-size: 28px;
  font-weight: 100;
  text-transform: uppercase;
  letter-spacing: 2px;
  position: relative;
  z-index: 2;
  display: inline-block;
}
.section-head h4:before {
  content: '';
  width: 100%;
  height: 10px;
  background: #f36;
  opacity: .2;
  position: absolute;
  bottom: 5px;
  left: 0;
  right: 0;
  z-index: -1;
}
.section-head p {
  font-size: 18px;
  margin-top: 30px;
}

.section-padding {
  padding: 100px 0;
}

.sm-title {
  font-size: 16px;
  font-weight: 600;
  letter-spacing: .5px;
}

.box-shadow {
  -webkit-box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.1);
}

.custom-shadow {
  position: relative;
}
.custom-shadow:after {
  content: '';
  position: absolute;
  left: 20px;
  right: 20px;
  height: 20px;
  bottom: -20px;
  background: #000;
  opacity: .1;
  border-radius: 2px;
}

.button-top {
  position: fixed;
  bottom: -200px;
  right: 20px;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  border-radius: 50%;
  font-size: 16px;
  color: #fff;
  background: #0e0e2d;
  z-index: 99999999;
  -webkit-transition: all .5s;
  transition: all .5s;
  cursor: pointer;
}
.button-top:hover {
  opacity: .8;
}

.button-show {
  bottom: 20px;
}

.border-top {
  border-top: 1px solid #eee;
}

.border-bottom {
  border-bottom: 1px solid #eee;
}

.bg-dark {
  background: #1c1c1c;
  color: #fff;
}

.bg-color {
  background: #0e0e2d;
  color: #fff;
}

.bg-gray {
  background: #f7f7f7;
}

.main-color {
  color: #f36;
}

.img-cover {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
}

.cont-top {
  position: relative;
  z-index: 9;
}

/* -------------------------------------------------------
                     Icons 
-------------------------------------------------------- */
.icon-lg {
  font-size: 50px;
}

.icon-md {
  font-size: 35px;
}

.icon-sm {
  font-size: 25px;
}

/* -------------------------------------------------------
                     Buttons 
-------------------------------------------------------- */
.buton {
  display: inline-block;
  font-weight: 500;
  -webkit-transition: all .5s;
  transition: all .5s;
}
.buton:hover {
  border-color: #f36;
  background: #f42156;
  color: #fff;
}

.buton-bg-color:hover {
  background: #1c1c1c;
  border-color: #1c1c1c;
  color: #fff;
}

.buton-xl {
  padding: 10px 30px;
  font-size: 14px;
  letter-spacing: 1px;
}

.buton-md {
  padding: 9px 25px;
  font-size: 13px;
  letter-spacing: 1px;
}

.buton-sm {
  padding: 7px 22px;
  font-size: 11px;
  letter-spacing: 1px;
}

.buton-bord-light {
  border: 1px solid #eee;
  color: #eee;
}

.buton-bord-dark {
  border: 1px solid #1f1f1f;
  color: #1f1f1f;
}

.buton-bord-color {
  border: 1px solid #f36;
  color: #f36;
}

.buton-bg-light {
  background: #fff;
  color: #1f1f1f;
  border: 1px solid #fff;
}

.buton-bg-dark {
  background: #1f1f1f;
  color: #fff;
  border: 1px solid #1f1f1f;
}

.buton-bg-color {
  background: #f36;
  color: #fff;
  border: 1px solid #f36;
}

.buton-radius-lx {
  border-radius: 30px;
}

.buton-radius-md {
  border-radius: 25px;
}

.buton-radius-sm {
  border-radius: 20px;
}

/* -------------------------------------------------------
                     Navbar
-------------------------------------------------------- */
nav.navbar.bootsnav {
  background: transparent;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  border: 0;
  z-index: 11;
  -webkit-transition: all .5s;
  transition: all .5s;
}
nav.navbar.bootsnav:before {
  content: '';
  width: 100%;
  height: 100%;
  background: #fff;
  position: absolute;
  top: -100%;
  left: 0;
  display: block;
  -webkit-transition: all .5s;
  transition: all .5s;
}
nav.navbar.bootsnav .navbar-brand {
  width: 90px;
  padding: 30px 0;
}

nav.navbar.bootsnav ul.nav > li > a {
  color: #fff;
  background-color: transparent;
  margin-bottom: -2px;
  padding: 30px 15px !important;
}

nav.navbar.bootsnav ul.nav .active {
  color: #f36 !important;
}

.nav-scroll {
  -webkit-box-shadow: 0px 20px 50px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 20px 50px rgba(0, 0, 0, 0.1);
}
.nav-scroll:before {
  top: 0 !important;
}
.nav-scroll ul.nav > li > a {
  color: #111 !important;
}

nav.navbar.bootsnav .navbar-toggle {
  background: transparent;
  color: #fff;
}

nav.navbar.nav-scroll .navbar-toggle {
  color: #222;
}

.dark-nav ul.nav > li > a {
  color: #1c1c1c !important;
}

/* -------------------------------------------------------
                     Header
-------------------------------------------------------- */
.header {
  height: 100vh;
  position: relative;
  background-attachment: fixed;
  background-size: cover;
  overflow: hidden;
}
.header .container {
  position: static;
}
.header h5 {
  -webkit-animation-delay: .4s;
          animation-delay: .4s;
}
.header h1 {
  -webkit-animation-delay: .7s;
          animation-delay: .7s;
}
.header p {
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}
.header .buton {
  -webkit-animation-delay: 1.2s;
          animation-delay: 1.2s;
}
.header .owl-item {
  height: 100vh;
}
.header .parallax1 .item {
  text-align: center;
}
.header .parallax1 .item h5 {
  display: inline-block;
  padding: 5px 10px;
  background: #000;
  font-size: 20px;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin-bottom: 15px;
}
.header .parallax1 .item h1 {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 55px;
  margin-bottom: 15px;
}
.header .parallax1 .item p {
  font-size: 16px;
  margin-bottom: 15px;
}
.header .parallax2 .item {
  text-align: center;
}
.header .parallax2 .item h5 {
  font-size: 20px;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin-bottom: 15px;
}
.header .parallax2 .item h1 {
  font-weight: 600;
  font-size: 55px;
  margin-bottom: 15px;
}
.header .parallax2 .item p {
  font-size: 16px;
  margin-bottom: 15px;
}
.header .parallax2 .item .buton {
  margin-top: 15px;
}
.header #particles-js {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 11;
}
.header .v-middle {
  z-index: 4;
}

.wrapperx .item, .slider-fade .item {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-size: cover;
}

.creative {
  height: 110vh;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 80%, 25% 100%, 0 80%);
          clip-path: polygon(0 0, 100% 0, 100% 80%, 25% 100%, 0 80%);
}

.creative2 {
  height: 105vh;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 90%, 50% 100%, 0 90%);
          clip-path: polygon(0 0, 100% 0, 100% 90%, 50% 100%, 0 90%);
}

.gradient:before {
  background: linear-gradient(60deg, rgba(220, 207, 53, 0.8) 0%, rgba(220, 53, 69, 0.8) 70%);
}

.classic .item {
  text-align: left !important;
}

/* -------------------------------------------------------
                     Hero 
-------------------------------------------------------- */
.hero .extra-prag {
  width: 90%;
  margin: auto;
}

/* -------------------------------------------------------
                     Features 
-------------------------------------------------------- */
.feat-icon-line .icon-line {
  overflow: hidden;
}
.feat-icon-line .icon-line .icon {
  float: left;
  font-size: 30px;
  color: #f36;
}
.feat-icon-line .icon-line h6 {
  padding-top: 7px;
  margin-left: 40px;
  font-size: 16px;
}

/* -------------------------------------------------------
                     Video 
-------------------------------------------------------- */
.video-intro .cont h5 {
  font-weight: 300;
  margin-bottom: 15px;
  letter-spacing: 2px;
}
.video-intro .cont p {
  margin-bottom: 15px;
}
.video-intro .cont i {
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  color: #fff;
  border-radius: 50%;
  background: #f36;
  margin-right: 10px;
}
.video-intro .cont span {
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 4px;
}
.video-intro .img {
  position: relative;
  margin-top: -30px;
}

/* -------------------------------------------------------
                     Portfolio 
-------------------------------------------------------- */
.portfolio .filtering span {
  position: relative;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 1px;
  color: #777;
  margin-right: 20px;
  cursor: pointer;
}
.portfolio .filtering span:after {
  content: '/';
  position: relative;
  right: -10px;
}
.portfolio .filtering span:last-child {
  margin: 0;
  padding: 0;
}
.portfolio .filtering span:last-child:after {
  display: none;
}
.portfolio .filtering .active:before {
  content: '';
  width: 100%;
  height: 10px;
  background: #f36;
  opacity: .2;
  position: absolute;
  bottom: 0px;
  left: 0;
  z-index: -1;
}
.portfolio .items {
  margin-bottom: 10px;
  padding: 0 5px;
  position: relative;
  overflow: hidden;
}
.portfolio .items:hover .item-img-overlay {
  bottom: 15px;
}
.portfolio .item-img-overlay {
  padding: 50px;
  width: 90%;
  margin-left: 5%;
  text-align: center;
  background: #fff;
  position: absolute;
  bottom: -100%;
  -webkit-box-shadow: 0px 5px 30px rgba(2, 2, 2, 0.1);
          box-shadow: 0px 5px 30px rgba(2, 2, 2, 0.1);
  -webkit-transition: all .5s;
  transition: all .5s;
}
.portfolio .item-img-overlay h6 {
  color: #777;
  font-size: 12px;
  font-weight: 500;
  margin-bottom: 5px;
}
.portfolio .item-img-overlay h5 {
  font-weight: 700;
  font-size: 14px;
}

/* -------------------------------------------------------
                     Numbers 
-------------------------------------------------------- */
.numbers {
  padding: 80px 0;
}
.numbers .icon {
  font-size: 80px;
  opacity: .1;
  position: absolute;
  left: 0;
}
.numbers .cont {
  margin-left: 50px;
}
.numbers p {
  position: relative;
  padding-bottom: 10px;
}
.numbers p:after {
  content: '';
  width: 25px;
  height: 1px;
  background: #f36;
  position: absolute;
  left: 0;
  bottom: 0;
}

/* -------------------------------------------------------
                     Team 
-------------------------------------------------------- */
.team .team-img {
  position: relative;
  overflow: hidden;
  border-radius: 2px;
}
.team .team-img:hover .social {
  top: 0;
}
.team .team-img .social {
  position: absolute;
  top: calc(100% - 4px);
  height: 100%;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.8);
  color: #eee;
  text-align: center;
  border-top: 4px solid #f36;
  -webkit-transition: all .5s;
  transition: all .5s;
}
.team .team-img .social a {
  display: inline-block;
  font-size: 12px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  line-height: 30px;
  border: 1px solid #eee;
  margin: 2px;
}
.team .team-img .social a:hover {
  background: #f36;
  border-color: #f36;
}
.team .team-img .social p {
  padding: 0 15px;
  margin-top: 10px;
  font-size: 12px;
}
.team .team-info h6 {
  font-size: 13px;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin-bottom: 5px;
}

/* -------------------------------------------------------
                     Skills 
-------------------------------------------------------- */
.skills .prog-item .leble {
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 700;
  margin-bottom: 10px;
  position: relative;
}
.skills .prog-item .leble span {
  padding: 2px 7px;
  background: #eee;
  position: absolute;
  right: 0;
  bottom: -10px;
  font-size: 10px;
}
.skills .prog-item .skills-progress {
  width: 100%;
  position: relative;
  height: 7px;
  background: #eee;
}
.skills .prog-item .skills-progress span {
  width: 0;
  height: 100%;
  background: #f36;
  background: -webkit-gradient(linear, left top, right top, from(#f36), to(#f42156));
  background: linear-gradient(to right, #f36, #f42156);
  position: absolute;
  left: 0;
  top: 0;
  -webkit-transition: all .5s;
  transition: all .5s;
}

/* -------------------------------------------------------
                     Clients 
-------------------------------------------------------- */
.clients-grid .item {
  padding: 70px 50px;
  background: #fff;
  -webkit-box-shadow: 0px 0px 30px rgba(255, 255, 255, 0.3);
          box-shadow: 0px 0px 30px rgba(255, 255, 255, 0.3);
}
.clients-grid .item .cle-img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  overflow: hidden;
  margin: 0 auto 15px;
}
.clients-grid .item p {
  color: #8b8b8b;
}
.clients-grid .item h6 {
  color: #f36;
  font-size: 15px;
  font-weight: 700;
}
.clients-grid .item span {
  color: #777;
  font-size: 13px;
}

/* -------------------------------------------------------
                     Price 
-------------------------------------------------------- */
.price .item {
  position: relative;
  overflow: hidden;
  background: #fff;
}
.price .item .type {
  padding-top: 50px;
}
.price .item .type h6 {
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
}
.price .item .mount {
  padding: 25px 0;
  margin: 25px 0;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
}
.price .item .mount h2 {
  font-weight: 600;
  margin-bottom: 10px;
  display: inline-block;
  position: relative;
}
.price .item .mount h2 span {
  font-size: 20px;
  position: absolute;
  top: 0;
  left: -15px;
}
.price .item .mount .per {
  display: block;
  color: #777;
  font-size: 12px;
}
.price .item .featruse {
  padding-bottom: 15px;
  border-bottom: 1px solid #eee;
}
.price .item .featruse p {
  font-size: 13px;
  font-weight: 600;
  margin: 10px 0;
}
.price .item .purchase {
  padding: 50px 0;
}
.price .item .purchase a {
  display: inline-block;
  padding: 11px 32px;
  font-weight: 500;
  font-size: 12px;
  letter-spacing: 2px;
  text-transform: uppercase;
  background: #1c1c1c;
  color: #fff;
  -webkit-transition: all .5s;
  transition: all .5s;
}
.price .item .purchase a:hover {
  background: #f36;
  border-color: #f36;
}
.price .active {
  padding-top: 30px;
  margin-top: -30px;
  -webkit-box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.1);
}
.price .active .star {
  width: 170px;
  height: 75px;
  line-height: 80px;
  font-size: 20px;
  background: #f36;
  color: #fff;
  position: absolute;
  top: -9px;
  right: -60px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
.price .active .purchase a {
  background: #f36;
}

/* -------------------------------------------------------
                     Blog 
-------------------------------------------------------- */
.blog-grid .item {
  background: #fff;
  border-radius: 4px;
  padding: 50px;
  margin-bottom: 20px;
  background-size: cover;
  border: 1px solid #f5f5f5;
  -webkit-box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.05);
          box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.05);
}
.blog-grid .item .tag {
  font-size: 12px;
  font-weight: 600;
  color: #f36;
  margin-bottom: 5px;
}
.blog-grid .item h6 {
  margin-bottom: 10px;
  text-transform: capitalize;
}
.blog-grid .item .author img {
  display: inline-block;
  width: 35px;
  border-radius: 50%;
  margin-right: 5px;
}
.blog-grid .item .author span {
  font-weight: 600;
  font-size: 12px;
  color: #999;
}
.blog-grid .item .author .date {
  margin-top: 10px;
  float: right;
}

/* -------------------------------------------------------
                     Subscribe 
-------------------------------------------------------- */
.subscribe h6 {
  letter-spacing: 2px;
}
.subscribe input[type='text'] {
  width: 80%;
  padding: 15px 100px 15px 15px;
  background: #fff;
  border: 0;
  border-radius: 30px;
  -webkit-box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
}
.subscribe input[type='submit'] {
  padding: 9px 25px;
  background: #f36;
  color: #fff;
  border: 0;
  border-radius: 30px;
  position: relative;
  margin-left: -130px;
  -webkit-transition: all .5s;
  transition: all .5s;
}
.subscribe input[type='submit']:hover {
  background: #1c1c1c;
}

/* -------------------------------------------------------
                     Contact 
-------------------------------------------------------- */
.contact .map {
  width: 100%;
  height: 100%;
}
.contact .contact-form {
  width: 90%;
}
.contact form {
  width: 100%;
}
.contact form input[type='text'],
.contact form input[type='email'],
.contact form textarea {
  width: 100%;
  padding: 10px;
  border: 0;
  background: #f7f7f7;
  border-radius: 5px;
}
.contact form textarea {
  height: 160px;
  max-width: 100%;
  max-height: 160px;
}
.contact form input[type='submit'] {
  padding: 10px 30px;
  border-radius: 20px;
  border: 0;
  color: #fff;
  background: #f36;
  float: right;
  -webkit-transition: all .5s;
  transition: all .5s;
}
.contact form input[type='submit']:hover {
  background: #1c1c1c;
}

/* -------------------------------------------------------
                     Footer 
-------------------------------------------------------- */
.footer-dark {
  background: #000;
}
.footer-dark .item {
  position: relative;
}
.footer-dark .item:after {
  content: '';
  width: 1px;
  height: 100px;
  background: #333;
  position: absolute;
  left: 0;
  top: calc(50% - 50px);
}
.footer-dark .item:first-child:after {
  display: none;
}
.footer-dark .item h6 {
  font-size: 11px;
  font-weight: 700;
  color: #eee;
  text-transform: uppercase;
}
.footer-dark .item p {
  font-size: 13px;
  letter-spacing: 1px;
}
.footer-dark .social span {
  color: #555;
  margin: 0 10px;
}
.footer-dark .copy {
  margin-top: 10px;
  font-size: 11px !important;
}

/* -------------------------------------------------------
                     Carsouel Setting 
-------------------------------------------------------- */
.owl-theme .owl-dots .owl-dot span {
  width: 10px;
  height: 10px;
  border-radius: 10px;
  background: #eee;
  margin: 2px;
}

.owl-theme .owl-dots .owl-dot.active span {
  background: #f36;
  width: 20px;
}

.owl-theme .owl-nav.disabled + .owl-dots {
  margin-top: 20px;
}

.header .owl-theme .owl-nav.disabled + .owl-dots {
  margin-top: -30px;
  position: relative;
  z-index: 9;
}

.owl-theme .owl-nav [class*=owl-] {
  color: #FFF;
  font-size: 14px;
  margin: 5px;
  padding: 3px 13px;
  background: #f36;
  display: inline-block;
  cursor: pointer;
  border-radius: 4px;
  -webkit-box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.2);
  position: absolute;
  top: 45%;
}

.owl-carousel .owl-nav .owl-prev {
  left: -15px;
}

.owl-carousel .owl-nav .owl-next {
  right: -15px;
}

.clients .owl-carousel .owl-stage-outer {
  padding: 10px 0;
}

/* -------------------------------------------------------
                    Responsive
-------------------------------------------------------- */
@media screen and (max-width: 767px) {
  .header h1 {
    font-size: 35px !important;
  }

  .portfolio .filtering span {
    margin: 10px 2px;
  }

  .sm-mb-30 {
    margin-bottom: 30px !important;
  }

  .sm-mb-50 {
    margin-bottom: 50px !important;
  }
}
@media screen and (max-width: 991px) {
  nav.navbar.bootsnav .navbar-collapse.collapse.in {
    background: #fff;
    padding: 15px 0;
  }

  nav.navbar.bootsnav ul.nav > li > a {
    color: #222;
    text-align: center;
    border: 0;
    padding: 15px 0 !important;
  }

  .header h1 {
    font-size: 40px !important;
  }
  .header h5 {
    font-size: 30px !important;
  }

  .numbers .icon {
    left: 40%;
  }
  .numbers .cont {
    margin-left: 0;
  }
  .numbers p {
    display: inline-block;
  }

  .portfolio .items {
    width: 100%;
  }

  .contact .contact-form {
    width: 100%;
    padding: 100px 15px;
  }

  .footer-dark .item:after {
    display: none;
  }

  .md-mb-30 {
    margin-bottom: 30px !important;
  }

  .md-mb-50 {
    margin-bottom: 50px !important;
  }

  .md-text-center {
    text-align: center;
  }
}
/* -------------------------------------------------------
                    End
-------------------------------------------------------- */

/*# sourceMappingURL=style.css.map */